<!-- begin post -->
{% assign author = site.authors[post.author] %}
<div class="card">
    <a href="{{ post.url }}">
        {% if post.image %} <img class="rounded mb-4" src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}"> {% endif %}
    </a>
    <div class="card-block">
        <h2 class="card-title h4 serif-font"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <div class="metafooter">
            <div class="wrapfooter small d-flex align-items-center">
                <span class="author-meta">
                <span class="post-name">Newsletter </span>             
                du <span class="post-date">{% include date.html date=post.date %}</span>
                </span>               
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->